# Copy to license-secret.yaml, fill in your key, kubectl apply.
# Free tier (<=5 nodes) doesn't need this. license-secret.yaml is gitignored.
apiVersion: v1
kind: Secret
metadata:
  name: k10-license
  namespace: kasten-io
  labels:
    app.kubernetes.io/name: kasten
type: Opaque
data:
  license: <base64-encoded-license-key>
